{% extends "layout.html"%}

{% block content %}

    <div class="content-section">
        <div class="media">
            <img src="{{ image_file }}" alt="" class="rounded-circle account-img">
            <div class="media-body">
                <h2 class="account-healing">
                    {{ current_user.username}}
                </h2>
                <p class="text-secondary">
                    {{ current_user.email}}
                </p>
            </div>
        </div>
    </div>

    <hr>
{% endblock content%}